In [ ]:
ATTACH DATABASE 'unity' as unity (TYPE UC_CATALOG);

In [ ]:
SELECT * FROM unity.default.numbers;

In [ ]:
CREATE EXTERNAL TABLE unity.test.numbers LOCATION 'file:///home/dunky/data' AS SELECT * FROM unity.default.numbers;

In [ ]:
SELECT * FROM unity.test.numbers;